@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* touch-action: none; */
  /* border: 1px dotted var(--magenta-quarter); */
}

input {
  user-select: initial;
}

button {
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  letter-spacing: 2px;
}

:root {
  --green: rgba(47, 222, 126, 1);
  --green-half: rgba(47, 222, 126, 0.5);
  --green-quarter: rgba(47, 222, 126, 0.25);
  --lime: rgba(64, 244, 195, 1);
  --lime-3q: rgba(64, 244, 195, 0.75);
  --lime-half: rgba(64, 244, 195, 0.5);
  --lime-quarter: rgba(64, 244, 195, 0.25);
  --purple: rgba(113, 18, 185, 1);
  --purple-3q: rgba(113, 18, 185, 0.75);
  --purple-half: rgba(113, 18, 185, 0.5);
  --purple-quarter: rgba(113, 18, 185, 0.25);
  --blue: rgba(2, 123, 255, 1);
  --blue-half: rgba(133, 155, 214, 0.5);
  --blue-quarter: rgba(133, 155, 214, 0.25);
  --baby-blue: rgba(25, 247, 255, 1);
  --baby-blue-half: rgba(25, 247, 255, 0.5);
  --baby-blue-quarter: rgba(25, 247, 255, 0.25);
  --red: rgba(232, 12, 48, 1);
  --red-half: rgba(232, 12, 48, 0.5);
  --red-quarter: rgba(232, 12, 48, 0.25);
  --magenta: rgba(255, 0, 172, 1);
  --magenta-3q: rgba(255, 0, 172, 0.75);
  --magenta-half: rgba(255, 0, 172, 0.5);
  --magenta-quarter: rgba(255, 0, 172, 0.25);
  --pink: rgba(250, 109, 203, 1);
  --pink-half: rgba(250, 109, 203, 0.5);
  --pink-quarter: rgba(250, 109, 203, 0.25);
  --orange: rgba(187, 123, 1, 1);
  --orange-half: rgba(187, 123, 1, 0.5);
  --orange-quarter: rgba(187, 123, 1, 0.25);
  --yellow: rgba(210, 254, 147, 1);
  --yellow-half: rgba(210, 254, 147, 0.5);
  --yellow-quarter: rgba(210, 254, 147, 0.25);

  --bg: rgb(40, 30, 50, 0.45);
  --grey: rgb(150, 140, 170, 1);
  --grey-half: rgb(150, 140, 170, 0.5);
  --grey-quarter: rgb(150, 140, 170, 0.25);
  --none: rgb(150, 140, 170, 0);
  --black: #000;
  --black-90: rgba(0, 0, 0, 0.9);
  --black-3q: rgba(0, 0, 0, 0.75);
  --black-half: rgba(0, 0, 0, 0.5);
  --black-quarter: rgba(0, 0, 0, 0.25);
  --white: rgba(236, 237, 229, 1);
  --white-3q: rgba(236, 237, 229, 0.75);
  --white-half: rgba(236, 237, 229, 0.5);
  --white-quarter: rgba(236, 237, 229, 0.25);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  max-width: 100%;
  background: var(--black);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
}

#root {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 800px;
  min-height: 100%;
  background: var(--black);
}

#top,
#middle,
#bottom {
  padding: 0.25rem;
}

#top {
  position: relative;
  /* padding-top: 2.5rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#middle {
  width: 100%;
  height: 30vh;
  border-top: 1px solid var(--purple-half);
}

#bottom {
  width: 100%;
  border-top: 1px solid var(--purple-half);
}

/*************************************/
/************ Load Pattern ***********/
/*************************************/

.load-save-pattern {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  padding: 0.5rem;
  background: var(--black);
  opacity: 0;
  transition: 150ms;
}

.load-save-pattern.show {
  pointer-events: initial;
  opacity: 1;
}

.load-pattern,
.save-pattern {
  width: 100%;
  height: 100%;
}

.login-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-btn {
  width: 100%;
  background: var(--purple-quarter);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
}

.login-status {
  width: 100%;
  padding: 0.5rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--purple-half);
}

.login-status p {
  width: 100%;
  text-align: center;
}

.login-status button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
  background-color: var(--black);
  color: var(--white);
}

.pattern-title {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
}

.load-pattern {
  padding: 0.5rem;
}

.load-pattern-sub {
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  align-items: center;
  border: 1px solid var(--purple-half);
  border-right: none;
  border-left: none;
}

.pattern-select {
  height: 100%;
  width: 100%;
}

.pattern-select-group {
  border: 1px solid var(--purple-half);
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.pattern-select-sub {
  padding: 0.5rem;
  text-align: center;
}

.pattern {
  min-height: 3rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  align-items: center;
  background: var(--purple-quarter);
  border-radius: 0.5rem;
  margin: 0.25rem 0;
}

.pattern.selected {
  background: var(--green-half);
}

.delete-btn {
  background: transparent;
  padding: 0.25rem;
}

.delete-btn .icon {
  max-height: 2rem;
  width: 100%;
  fill: var(--white);
}

.confirm-delete {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--purple-quarter);
}

.confirm-delete button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
}

.save-pattern {
  padding: 0.5rem;
  border-bottom: 1px solid var(--purple-half);
}

.save-pattern-input {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
}

#save-form input {
  user-select: initial;
  width: 100%;
  height: 100%;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border: none;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 0.3rem;
  background: var(--black);
  color: var(--white);
  overflow: hidden;
  font-size: 1.25rem;
}

#save-form button {
  min-width: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--black);
  color: white;
  outline: none;
  border: 1px solid var(--white);
}

.save-pattern .error,
.save-pattern .confirmation {
  min-height: 1.5rem;
}

.load-save-pattern-close {
  cursor: pointer;
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: var(--white);
  background: var(--purple-quarter);
}

/*************************************/
/*********** Paste Pattern ***********/
/*************************************/

#paste-pattern {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--black-90);
  opacity: 0;
  transition: 150ms;
}

#paste-pattern.show {
  pointer-events: initial;
  opacity: 1;
}

#paste-pattern-sounds {
  min-width: 100%;
  min-height: 100%;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.2rem;
}

#paste-pattern-sounds .sound {
  position: relative;
}

#paste-pattern-sounds p {
  padding: 0.5rem;
  text-align: center;
  background: var(--black-3q);
  border-radius: 0.5rem;
  z-index: 3;
}

#paste-pattern-sounds .cells {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  gap: 5px;
  border-radius: 0.5rem;
  opacity: 0.35;
}

#paste-pattern-sounds .cells.selected {
  opacity: 1;
}

#paste-pattern-sounds .cell {
  border: none;
}

/*************************************/
/************* SoundPanel ************/
/*************************************/

.sound-menu {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.2rem;
}

.sound {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: var(--white);
  border: 1px solid var(--purple);
}

.sound-edit {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sound-edit-menu {
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sound-edit-btn {
  height: 100%;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: var(--white);
  background: var(--black);
}

.sound-edit .icon {
  height: 50%;
  max-width: 5rem;
  fill: var(--white);
}

.sound-edit-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 0.5rem;
  overflow: hidden;
}

.sound-edit-title {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
}

.sound-edit-instructions {
  max-width: 50%;
  height: 100%;
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: initial;
}

.pitch-input {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  color: var(--white);
}

.pitch-dec,
.pitch-inc {
  width: 2rem;
  height: auto;
  background: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.5rem;
}

.mod-animation {
  height: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sound-edit-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sound-edit-all {
  width: 100%;
  max-width: 50%;
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
}
.sound-edit-all * {
  /* border: 1px dotted var(--magenta-half); */
}

.sound-edit-all label {
  color: var(--white);
  text-transform: capitalize;
}

.sound-edit-detail input {
}

.reset,
.mod-all {
  height: auto;
  width: 100%;
  background: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
}

.icon.slicing {
  animation: slicing 2000ms infinite linear;
}

@keyframes slicing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*************************************/
/********** ChangeKit/Pattern ********/
/*************************************/

.change-kit {
  width: 95%;
  height: 100%;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.change-kit h1 {
  font-size: 1.5rem;
}

.change-kit p {
  color: var(--white);
}

.custom-select {
  position: relative;
  cursor: pointer;
  width: 50%;
  padding: 0.5rem;
  background: var(--black);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 0.3rem;
}

.custom-select.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.kit-select {
  -webkit-appearance: none;
  width: 100%;
  font-size: 1.25rem;
  border: 1px solid var(--purple);
  border-radius: 0.5rem;
}

.change-kit .chevron.down {
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 2rem;
  fill: var(--purple);
}

/*************************************/
/*************** GRID ****************/
/*************************************/

#grid {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  gap: 5px;
  border-radius: 0.5rem;
}

.cell {
  cursor: pointer;
  width: 0;
  height: 0;
  padding-bottom: 100%;
  padding-right: 100%;
  opacity: 1;
  border: 1px solid var(--purple);
  border-radius: 0.5rem;
  background: var(--none);
  transform: scale(1) rotate(0);
  transition: 200ms;
  transition-property: opacity, transform;
}

.cell-mods {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.pitch-up,
.pitch-down {
  z-index: 4;
  font-size: 0.75rem;
  color: var(--white);
}

.pitch-up {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.pitch-down {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

@media (hover: hover) {
  .cell:hover {
    transition: none;
    opacity: 1;
  }
}

.pulse {
  transition: none;
  opacity: 1;
  transform: scale(0.8) rotate(2deg);
}

.cell.flash {
  transition: none;
  background: var(--white-half);
}

.sound-cells {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 1px;
  border-radius: 0.5rem;
  opacity: 0.5;
}

.sound-cell {
  color: var(--none);
  transform: scale(0.5);
  border: 1px solid;
  border-radius: 50%;
  transition: 200ms;
}

.cell.flash .sound-cell,
.cell.pulse .sound-cell {
  transition: none;
  transform: scale(2);
}

.slice {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slice svg {
  stroke-width: 2px;
  stroke: var(--purple);
  fill: transparent;
  width: 75%;
  height: 75%;
  transform: rotate(0);
  transition: 300ms ease-out;
}

.slice-2 svg {
  width: 60%;
  height: 60%;
}

.slice-3 svg {
  width: 100%;
  height: 100%;
}

.cell.pulse .slice svg {
  transition: none;
  transform: rotate(360deg);
}

/*************************************/
/************* Menu Items ************/
/*************************************/

.menu-items {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--purple-half);
}

.menu-btn {
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background: transparent;
  fill: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.menu-label {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
}

.menu-items svg {
  height: 2rem;
}

/*************************************/
/************* Transport *************/
/*************************************/

.transport {
  position: relative;
  justify-content: center;
}

.transport button {
  cursor: pointer;
  height: 2rem;
  width: 4rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: var(--white);
  overflow: hidden;
}

#stop {
  background: var(--magenta-3q);
}

#start {
  background: var(--lime-3q);
}

#stop svg,
#start svg {
  height: 100%;
}

@media (hover: hover) {
  #stop:hover,
  #start:hover {
    transform: scale(1.1);
  }

  #start:hover {
    background: var(--lime);
  }

  #stop:hover {
    background: var(--magenta);
  }
}

.transport .input {
  margin: 0 0.5rem;
  user-select: initial;
}

.transport input {
  max-width: 5rem;
  height: 100%;
  padding: 0.25rem;
  border: none;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 0.3rem;
  background: var(--black);
  color: var(--white);
  overflow: hidden;
  text-align: center;
  font-size: 1.25rem;
}

#bpm-label {
  font-style: normal;
  height: 2rem;
  width: 4rem;
  padding: 0.5rem;
}

/*************************************/
/************ StatusBar **************/
/*************************************/

.status-bar {
  pointer-events: none;
  position: fixed;
  top: 0;
  height: 2.5rem;
  width: 100%;
  z-index: 5;
}
.status {
  padding: 0.5rem;
  font-size: 1.25rem;
  font-family: Orbitron, Roboto, sans-serif;
  color: var(--red);
  letter-spacing: 2px;
  text-align: center;
  background: var(--black-half);
  filter: drop-shadow(2px 2px 2px var(--purple-half));
  opacity: 0;
  transition: 1500ms;
}

.status.fade-out-2 {
  opacity: 1;
}

.status.fade-out {
  opacity: 1;
  transition: none;
}

/*************************************/
/************** Colors ***************/
/*************************************/

.colorBlack {
  color: var(--black);
}
.colorNone {
  color: var(--none);
}
.bgNone {
  background-color: var(--none);
}
.borderNone {
  border-color: var(--none);
}
.colorNone .icon {
  fill: var(--none);
}
.colorDefault {
  color: var(--purple-3q);
}
.bgDefault {
  background-color: var(--purple-quarter);
}
.borderDefault {
  border-color: var(--purple-3q);
}
.colorDefault .icon {
  fill: var(--purple-3q);
}
.color0 {
  color: var(--blue);
}
.bg0 {
  background-color: var(--blue);
}
.bg0Q {
  background-color: var(--blue-quarter);
}
.border0 {
  border-color: var(--blue);
}
.color0 .icon {
  fill: var(--blue);
}
.color1 {
  color: var(--lime);
}
.bg1 {
  background-color: var(--lime);
}
.bg1Q {
  background-color: var(--lime-quarter);
}
.border1 {
  border-color: var(--lime);
}
.color1 .icon {
  fill: var(--lime);
}
.color2 {
  color: var(--magenta);
}
.bg2 {
  background-color: var(--magenta);
}
.bg2Q {
  background-color: var(--magenta-quarter);
}
.border2 {
  border-color: var(--magenta);
}
.color2 .icon {
  fill: var(--magenta);
}
.color3 {
  color: var(--yellow);
}
.bg3 {
  background-color: var(--yellow);
}
.bg3Q {
  background-color: var(--yellow-quarter);
}
.border3 {
  border-color: var(--yellow);
}
.color3 .icon {
  fill: var(--yellow);
}
.color4 {
  color: var(--red);
}
.bg4 {
  background-color: var(--red);
}
.bg4Q {
  background-color: var(--red-quarter);
}
.border4 {
  border-color: var(--red);
}
.color4 .icon {
  fill: var(--red);
}
.color5 {
  color: var(--baby-blue);
}
.bg5 {
  background-color: var(--baby-blue);
}
.bg5Q {
  background-color: var(--baby-blue-quarter);
}
.border5 {
  border-color: var(--baby-blue);
}
.color5 .icon {
  fill: var(--baby-blue);
}
.color6 {
  color: var(--orange);
}
.bg6 {
  background-color: var(--orange);
}
.bg6Q {
  background-color: var(--orange-quarter);
}
.border6 {
  border-color: var(--orange);
}
.color6 .icon {
  fill: var(--orange);
}
.color7 {
  color: var(--green);
}
.bg7 {
  background-color: var(--green);
}
.bg7Q {
  background-color: var(--green-quarter);
}
.border7 {
  border-color: var(--green);
}
.color7 .icon {
  fill: var(--green);
}
.color8 {
  color: var(--pink);
}
.bg8 {
  background-color: var(--pink);
}
.bg8Q {
  background-color: var(--pink-quarter);
}
.border8 {
  border-color: var(--pink);
}
.color8 .icon {
  fill: var(--pink);
}

.white.icon {
  color: var(--white);
  fill: var(--white);
}

.red {
  background: var(--red);
}

.green {
  background: var(--green);
}

.purple {
  background: var(--black);
}
/*************************************/
/************* Animations ************/
/*************************************/

div.dim {
  background-color: var(--white-quarter);
}

svg.dim {
  fill: var(--white-quarter);
}

p.dim {
  color: var(--white-quarter);
}

.off {
  opacity: 0;
}

.flashing {
  /* animation: flashing 500ms alternate infinite; */
}

.flashing.pause {
  animation: none;
}

@keyframes flashing {
  0% {
    border-color: var(--white-half);
    color: var(--white-half);
    stroke: var(--white-half);
  }
  100% {
    border-color: var(--white);
    color: var(--white);
    stroke: var(--white);
  }
}

.deg90 {
  transform: rotate(90deg);
}

.deg180 {
  transform: rotate(180deg);
}

.deg270 {
  transform: rotate(270deg);
}

.capitalize {
  text-transform: capitalize;
}

.o0 {
  opacity: 0;
}

.swipe-icon {
  position: relative;
  height: 100%;
}

.swipe-icon .square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sound-edit svg.pvl-swipe {
  position: relative;
  z-index: 2;
  top: 45%;
  left: 50%;
  height: 3rem;
  stroke: var(--black);
  fill: var(--white);
  transform: translate(-50%, 0%);
  animation: swipe 3s ease-in-out infinite;
}

@keyframes swipe {
  0% {
    transform: translate(-50%, 0%);
  }
  50% {
    transform: translate(-50%, 40%);
  }
  75% {
    transform: translate(-50%, 0%);
  }
}

.velocity-swipe {
  animation: velocity-swipe 3s ease-in-out infinite;
}

@keyframes velocity-swipe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 1;
  }
}

.pvl-swipe-h {
  position: relative;
  z-index: 2;
  top: 50%;
  left: 40%;
  height: 3rem;
  stroke: var(--black);
  fill: var(--white);
  transform: translate(-15%, 20%);
  animation: swipe-h 3s ease-in-out infinite;
}

@keyframes swipe-h {
  0% {
    transform: translate(-15%, 20%);
  }
  50% {
    transform: translate(-50%, 20%);
  }
  75% {
    transform: translate(-15%, 20%);
  }
}

.length-swipe {
  animation: length-swipe 3s ease-in-out infinite;
}

@keyframes length-swipe {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.25);
  }
  75% {
    transform: scaleX(1);
  }
}

.swipe-pitch-up {
  color: var(--purple);
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  animation: swipe-pitch-up 3s ease-in-out infinite;
}

@keyframes swipe-pitch-up {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

.swipe-pitch-down {
  color: var(--purple);
  position: absolute;
  top: 50%;
  right: 25%;
  animation: swipe-pitch-down 3s ease-in-out infinite;
  opacity: 0;
  transform: translateY(-50%);
}

@keyframes swipe-pitch-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

.chevron {
  height: 1.5rem;
  fill: var(--purple-half);
  position: absolute;
  top: 0;
}

.chevron.left {
  left: 1rem;
}

.chevron.right {
  right: 1rem;
}

.chevron-right-1,
.chevron-right-2,
.chevron-right-3,
.chevron-left-1,
.chevron-left-2,
.chevron-left-3 {
  opacity: 0;
}

.chevron-right-1,
.chevron-left-1 {
  animation: chevron-1 1s infinite;
}
@keyframes chevron-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

.chevron-right-2,
.chevron-left-2 {
  animation: chevron-2 1s infinite;
}
@keyframes chevron-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.chevron-right-3,
.chevron-left-3 {
  animation: chevron-3 1s infinite;
}
@keyframes chevron-3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

button:disabled {
  opacity: 0.35;
}

.d-none {
  display: none;
}

.center {
  text-align: center;
}

.error {
  color: var(--red);
}

.confirmation {
  color: var(--green);
}
