@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* touch-action: none; */
  /* border: 1px solid magenta; */
}

:root {
  --green: rgba(47, 222, 126, 1);
  --green-half: rgba(47, 222, 126, 0.5);
  --green-quarter: rgba(47, 222, 126, 0.25);
  --lime: rgba(64, 244, 195, 1);
  --lime-3q: rgba(64, 244, 195, 0.75);
  --lime-half: rgba(64, 244, 195, 0.5);
  --lime-quarter: rgba(64, 244, 195, 0.25);
  --purple: rgba(113, 18, 185, 1);
  --purple-3q: rgba(113, 18, 185, 0.75);
  --purple-half: rgba(113, 18, 185, 0.5);
  --purple-quarter: rgba(113, 18, 185, 0.25);
  --blue: rgba(2, 123, 255, 1);
  --blue-half: rgba(133, 155, 214, 0.5);
  --blue-quarter: rgba(133, 155, 214, 0.25);
  --baby-blue: rgba(25, 247, 255, 1);
  --baby-blue-half: rgba(25, 247, 255, 0.5);
  --baby-blue-quarter: rgba(25, 247, 255, 0.25);
  --red: rgba(232, 12, 48, 1);
  --red-half: rgba(232, 12, 48, 0.5);
  --red-quarter: rgba(232, 12, 48, 0.25);
  --magenta: rgba(255, 0, 172, 1);
  --magenta-3q: rgba(255, 0, 172, 0.75);
  --magenta-half: rgba(255, 0, 172, 0.5);
  --magenta-quarter: rgba(255, 0, 172, 0.25);
  --pink: rgba(250, 109, 203, 1);
  --pink-half: rgba(250, 109, 203, 0.5);
  --pink-quarter: rgba(250, 109, 203, 0.25);
  --orange: rgba(187, 123, 1, 1);
  --orange-half: rgba(187, 123, 1, 0.5);
  --orange-quarter: rgba(187, 123, 1, 0.25);
  --yellow: rgba(210, 254, 147, 1);
  --yellow-half: rgba(210, 254, 147, 0.5);
  --yellow-quarter: rgba(210, 254, 147, 0.25);

  --bg: rgb(40, 30, 50, 0.45);
  --grey: rgb(150, 140, 170, 1);
  --grey-half: rgb(150, 140, 170, 0.5);
  --grey-quarter: rgb(150, 140, 170, 0.25);
  --none: rgb(150, 140, 170, 0);
  --black: #000;
  --black-3q: rgba(0, 0, 0, 0.75);
  --black-half: rgba(0, 0, 0, 0.5);
  --black-quarter: rgba(0, 0, 0, 0.25);
  --white: rgba(236, 237, 229, 1);
  --white-3q: rgba(236, 237, 229, 0.75);
  --white-half: rgba(236, 237, 229, 0.5);
  --white-quarter: rgba(236, 237, 229, 0.25);
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  max-width: 100%;
  max-height: 100%;
  background: var(--black);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
  overflow: hidden;
}

#root {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 800px;
  height: 100%;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  background: var(--black);
}

#address-bar,
#toolbar {
  display: none;
  z-index: 2;
  width: 100%;
  left: 0;
}
#address-bar {
  position: fixed;
  top: 0;
  background: var(--grey-half);
  height: 95px;
}
#toolbar {
  position: fixed;
  bottom: 0;
  background: var(--grey-half);
  height: 70px;
}

#top,
#middle,
#bottom {
  padding: 0.25rem;
}

#middle {
  width: 100%;
  height: 100%;
  min-height: 20%;
  max-height: 30vh;
  display: flex;
}

#sound-selector {
  min-width: 100%;
  min-height: 100%;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.2rem;
}

#top {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  gap: 5px;
  border-radius: 0.5rem;
}

#bottom {
  width: 100%;
  height: 100%;
  max-height: 15vh;
  padding: 0;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}

#bottom-container {
  display: flex;
  width: 200vw;
  height: 100%;
}

#edit,
#transport {
  scroll-snap-align: start;
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

/*************************************/
/*************** Info ****************/
/*************************************/

#information {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--black-3q);
  opacity: 0;
  transition: 150ms;
}

#information.show {
  opacity: 1;
}

#info {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info svg {
  fill: white;
  height: 4rem;
}

#info p {
  font-size: 1.5rem;
}

/*************************************/
/*********** SoundSelector ***********/
/*************************************/

.sound {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: var(--white);
  border: 1px solid var(--purple);
}

.sound-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

.sample-edit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.knob {
  position: relative;
  margin: 0.5rem;
  display: flex;
}

.knob label {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  color: var(--white);
}

.sound-edit svg {
  width: 100%;
  height: 100%;
}

.arc {
  stroke-dasharray: 126px;
}

.arc-hide {
  /* display: none; */
}

.pattern-edit {
  max-height: 50%;
  border: 1px solid magenta;
}

/*************************************/
/*************** GRID ****************/
/*************************************/

.cell {
  cursor: pointer;
  width: 0;
  height: 0;
  padding-bottom: 100%;
  padding-right: 100%;
  opacity: 1;
  border: 1px solid var(--purple);
  border-radius: 0.5rem;
  background: var(--none);
  transform: scale(1) rotate(0);
  transition: 200ms;
  transition-property: opacity, transform;
}

@media (hover: hover) {
  .cell:hover {
    transition: none;
    opacity: 1;
  }
}

.pulse {
  transition: none;
  opacity: 1;
  transform: scale(0.8) rotate(2deg);
}

.cell.flash {
  transition: none;
  background: var(--white-half);
}

.sound-cells {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 1px;
  border-radius: 0.5rem;
  opacity: 0.5;
}

.sound-cell {
  color: var(--none);
  transform: scale(0.5);
  border: 1px solid;
  border-radius: 50%;
  transition: 200ms;
}

.cell.flash .sound-cell,
.cell.pulse .sound-cell {
  transition: none;
  transform: scale(2);
}

/*************************************/
/**************** Edit ***************/
/*************************************/

#edit button {
  width: 5rem;
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background: transparent;
  fill: var(--white);
  display: flex;
  flex-direction: column;
  color: var(--white);
}

#edit label {
  width: 100%;
}

#edit svg {
  width: 100%;
  height: 100%;
}

/*************************************/
/************* Transport *************/
/*************************************/

#transport {
  justify-content: center;
}

#transport button {
  cursor: pointer;
  height: 2rem;
  width: 4rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: var(--white);
  overflow: hidden;
}

#transport svg {
  width: 100%;
  height: 100%;
}

#stop {
  background: var(--magenta-3q);
}

#start {
  background: var(--lime-3q);
}

@media (hover: hover) {
  #stop:hover,
  #start:hover {
    transform: scale(1.1);
  }

  #start:hover {
    background: var(--lime);
  }

  #stop:hover {
    background: var(--magenta);
  }
}

#transport .input {
  margin: 0 0.5rem;
  user-select: auto;
}

#transport input {
  max-width: 5rem;
  height: 100%;
  padding: 0.25rem;
  border: none;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 0.3rem;
  background: var(--black);
  color: var(--white);
  overflow: hidden;
  text-align: center;
  font-size: 1.25rem;
}

#bpm-label {
  font-style: normal;
  height: 2rem;
  width: 4rem;
  padding: 0.5rem;
}

select {
  cursor: pointer;
  padding: 0.5rem;
  background: var(--black);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 0.3rem;
}

/*************************************/
/************** Colors ***************/
/*************************************/
.colorBlack {
  color: var(--black);
}
.colorNone {
  color: var(--none);
}
.bgNone {
  background-color: var(--none);
}
.borderNone {
  border-color: var(--none);
}
.colorNone .icon {
  fill: var(--none);
}
.colorDefault {
  color: var(--purple-3q);
}
.bgDefault {
  background-color: var(--purple-quarter);
}
.borderDefault {
  border-color: var(--purple-3q);
}
.colorDefault .icon {
  fill: var(--purple-3q);
}
.color0 {
  color: var(--blue);
}
.bg0 {
  background-color: var(--blue);
}
.bg0Q {
  background-color: var(--blue-quarter);
}
.border0 {
  border-color: var(--blue);
}
.color0 .icon {
  fill: var(--blue);
}
.color1 {
  color: var(--lime);
}
.bg1 {
  background-color: var(--lime);
}
.bg1Q {
  background-color: var(--lime-quarter);
}
.border1 {
  border-color: var(--lime);
}
.color1 .icon {
  fill: var(--lime);
}
.color2 {
  color: var(--magenta);
}
.bg2 {
  background-color: var(--magenta);
}
.bg2Q {
  background-color: var(--magenta-quarter);
}
.border2 {
  border-color: var(--magenta);
}
.color2 .icon {
  fill: var(--magenta);
}
.color3 {
  color: var(--yellow);
}
.bg3 {
  background-color: var(--yellow);
}
.bg3Q {
  background-color: var(--yellow-quarter);
}
.border3 {
  border-color: var(--yellow);
}
.color3 .icon {
  fill: var(--yellow);
}
.color4 {
  color: var(--red);
}
.bg4 {
  background-color: var(--red);
}
.bg4Q {
  background-color: var(--red-quarter);
}
.border4 {
  border-color: var(--red);
}
.color4 .icon {
  fill: var(--red);
}
.color5 {
  color: var(--baby-blue);
}
.bg5 {
  background-color: var(--baby-blue);
}
.bg5Q {
  background-color: var(--baby-blue-quarter);
}
.border5 {
  border-color: var(--baby-blue);
}
.color5 .icon {
  fill: var(--baby-blue);
}
.color6 {
  color: var(--orange);
}
.bg6 {
  background-color: var(--orange);
}
.bg6Q {
  background-color: var(--orange-quarter);
}
.border6 {
  border-color: var(--orange);
}
.color6 .icon {
  fill: var(--orange);
}
.color7 {
  color: var(--green);
}
.bg7 {
  background-color: var(--green);
}
.bg7Q {
  background-color: var(--green-quarter);
}
.border7 {
  border-color: var(--green);
}
.color7 .icon {
  fill: var(--green);
}
.color8 {
  color: var(--pink);
}
.bg8 {
  background-color: var(--pink);
}
.bg8Q {
  background-color: var(--pink-quarter);
}
.border8 {
  border-color: var(--pink);
}
.color8 .icon {
  fill: var(--pink);
}
