@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* border: 1px solid magenta; */
}

:root {
  --green: rgba(47, 222, 126, 1);
  --green-half: rgba(47, 222, 126, 0.5);
  --lime: rgba(64, 244, 195, 1);
  --lime-half: rgba(64, 244, 195, 0.5);
  --purple: rgba(113, 18, 185, 1);
  --purple-half: rgba(113, 18, 185, 0.5);
  --purple-dark: rgba(113, 18, 185, 0.3);
  --blue: rgba(2, 123, 255, 1);
  --blue-half: rgba(133, 155, 214, 0.5);
  --baby-blue: rgba(25, 247, 255, 1);
  --baby-blue-half: rgba(25, 247, 255, 0.5);
  --red: rgba(232, 12, 48, 1);
  --red-half: rgba(232, 12, 48, 0.5);
  --magenta: rgba(255, 0, 172, 1);
  --magenta-half: rgba(255, 0, 172, 0.35);
  --pink: rgba(250, 109, 203, 1);
  --pink-half: rgba(250, 109, 203, 0.5);
  --orange: rgba(187, 123, 1, 1);
  --orange-half: rgba(187, 123, 1, 0.5);
  --yellow: rgba(210, 254, 147, 1);
  --yellow-half: rgba(210, 254, 147, 0.5);

  --bg: rgb(40, 30, 50, 0.45);
  --grey: rgb(150, 140, 170, 1);
  --grey-half: rgb(150, 140, 170, 0.5);
  --grey-quarter: rgb(150, 140, 170, 0.25);
  --none: rgb(150, 140, 170, 0);
  --black: #000;
  --white: rgba(236, 237, 229, 1);
  --white-less: rgba(236, 237, 229, 0.75);
  --white-half: rgba(236, 237, 229, 0.5);
}

.icon {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
}

#app {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  background: var(--black);
}

#top,
#bottom {
  width: 100%;
  height: 100%;
  min-height: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

#middle {
  width: 100%;
  max-height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--purple-half);
  border-radius: 0.5rem;
}

/*************************************/
/*********** SoundSelector ***********/
/*************************************/

#sound-selector {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem;
}

.sound {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  color: var(--white-less);
  border: 1px solid var(--purple-half);
}

.sound.selected {
  color: var(--white);
  /* border-color: var(--purple); */
}

/*************************************/
/*************** GRID ****************/
/*************************************/

#grid {
  width: 100%;
  height: 100%;
  max-height: 50%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.cell,
.sound-cell {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.cell .icon {
  fill: var(--bg);
  stroke: var(--purple);
  stroke-width: 5px;
}
.cell:hover {
  opacity: 1;
  transform: scale(1.1);
}

.pulse {
  animation: pulse 250ms ease-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.flash {
  animation: flash 200ms linear;
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#sound-cells {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.75rem 0.35rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.15rem;
}

.sound-cell {
  padding: 0;
  color: var(--none);
}

.sound-cell svg {
  margin: 0;
  width: 100%;
  height: 200%;
}

.colorDefault {
  color: var(--purple-half);
}
.bgDefault {
  background-color: var(--purple-half);
}
.borderDefault {
  border-color: var(--purple-half);
}
.colorDefault .icon {
  fill: var(--purple-half);
}
.color0 {
  color: var(--blue);
}
.bg0 {
  background-color: var(--blue);
}
.border0 {
  border-color: var(--blue);
}
.color0 .icon {
  fill: var(--blue);
}
.color1 {
  color: var(--lime);
}
.bg1 {
  background-color: var(--lime);
}
.border1 {
  border-color: var(--lime);
}
.color1 .icon {
  fill: var(--lime);
}
.color2 {
  color: var(--magenta);
}
.bg2 {
  background-color: var(--magenta);
}
.border2 {
  border-color: var(--magenta);
}
.color2 .icon {
  fill: var(--magenta);
}
.color3 {
  color: var(--yellow);
}
.bg3 {
  background-color: var(--yellow);
}
.border3 {
  border-color: var(--yellow);
}
.color3 .icon {
  fill: var(--yellow);
}
.color4 {
  color: var(--red);
}
.bg4 {
  background-color: var(--red);
}
.border4 {
  border-color: var(--red);
}
.color4 .icon {
  fill: var(--red);
}
.color5 {
  color: var(--baby-blue);
}
.bg5 {
  background-color: var(--baby-blue);
}
.border5 {
  border-color: var(--baby-blue);
}
.color5 .icon {
  fill: var(--baby-blue);
}
.color6 {
  color: var(--orange);
}
.bg6 {
  background-color: var(--orange);
}
.border6 {
  border-color: var(--orange);
}
.color6 .icon {
  fill: var(--orange);
}
.color7 {
  color: var(--green);
}
.bg7 {
  background-color: var(--green);
}
.border7 {
  border-color: var(--green);
}
.color7 .icon {
  fill: var(--green);
}
.color8 {
  color: var(--pink);
}
.bg8 {
  background-color: var(--pink);
}
.border8 {
  border-color: var(--pink);
}
.color8 .icon {
  fill: var(--pink);
}

/*************************************/
/************* Transport *************/
/*************************************/

#transport {
  display: flex;
  justify-content: center;
  align-items: center;
}

#transport button {
  cursor: pointer;
  height: 2rem;
  width: 4rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: var(--white);
  overflow: hidden;
}

#transport input {
  max-width: 5rem;
  height: 100%;
  margin: 0 0.5rem;
  padding: 0.25rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background: var(--black);
  color: var(--white);
  overflow: hidden;
  text-align: center;
  font-size: 1.25rem;
}

#bpm-label {
  font-style: normal;
}

#stop:hover,
#start:hover {
  transform: scale(1.1);
}

#stop {
  background: var(--magenta-half);
}

#stop:hover {
  background: var(--magenta);
}

#start {
  background: var(--lime-half);
}

#start:hover {
  background: var(--lime);
}

select {
  cursor: pointer;
  padding: 0.5rem;
  background: var(--black);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 0.3rem;
}
